/* Author: Derek O Reilly, Dundalk Institute of Technology, Ireland. */
/* style class for game's container, canvas and loading message      */

html, body, div, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
  
}

#mainContainer{
    position: relative;
}


#gameContainer { position: absolute; }
 .canvas { position: absolute; top: 0; left: 0; display: block;} 

#tab {
 position: absolute;
 width: 100%;
 height: 9%;
 z-index: 1;
 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background:
     linear-gradient(180deg, rgba(37,103,105,1) 0%, rgba(146,132,148,1) 100%, rgba(0,212,255,1) 100%);
 top: 0;
 left:0;
 opacity: 0.7;
 border-bottom-left-radius:8%;
    border-bottom-right-radius:8%;
}

#col1 {
    width: 50%;

    float: left;
    
   }
   #col2 {
    width: 50%;
    float: left;
   
   }


   p{
    
      
       text-align: center;
       color: white;
       
       
   }

   
 #state{
     text-align: center;
 }
   

 #restart
 {
   bottom: 0;
   left: 0;
   position: absolute;
   margin: 0;
   height: 10%;
   top: 50%;
   margin:0 auto;
   display:block;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 100%;
 }

 .button {
   
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #info{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;

    position: fixed;
    font-size: 16px;
  }