body { color: white;}
h1 {
    font-weight: bold;
    color:white;
    text-align: center;
    font-size:15vw ;
}


h2 {
  font-weight: bold;
  color:white;
  text-align: center;
  font-size:10vw ;
}

html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background:
     linear-gradient(180deg, rgba(37,103,105,1) 0%, rgba(146,132,148,1) 100%, rgba(0,212,255,1) 100%);
}

.button{

    background: transparent;
    border: 4px solid white;
    cursor: pointer;
    width:60%;
    height: 80px;
    font-size:150% ;
    /* font-size: 200%; */
    text-align: center;
    color:white;
  }


  #button-container {
      
    margin-top: 50px;
    text-align: center;
  }

  #vertical-container {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  }



  table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  thead{
      color:white;
  }
  
  table tr {
    background-color: transparent;
    border: 2px solid white;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 500px) {
    table {
        border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      /* border-bottom: 3px solid #ddd; */
      display: block;
      margin-bottom: .625em;
     
    }
    
    table td {
      /* border-bottom: 1px solid #ddd; */
      display: block;
      font-size: .8em;
      text-align: right;
    
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    
}

body#bg{
  background: transparent;
  color: white;
 
  
}


.col-centered{
  position: absolute;
  margin: 0 auto;
 
}

#startPlay:active{
  background-color: saddlebrown !important;
}